* {
    @apply transition-colors duration-300
}
h2, p{
    @apply dark:text-amber-100 text-gray-950 text-[13px] font-[600];
    font-family: 'Dm sans', sans-serif;
}


.dark{
    @apply bg-blue-950 text-white
}
.modeSelector{
    @apply w-[45px] h-[45px] rounded-md hover:filter-none focus:filter-none hover:cursor-pointer;
    filter: grayscale(100%);
    background-size: 30px 30px;
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}
#modeSelector.clicked{
    filter: none !important;
    @apply bg-black
}
.iconColor{
    color: var(--icons-color);
}
.navbar{
    @apply flex justify-between items-center px-[10%]  drop-shadow-md dark:bg-gray-600 bg-amber-100
}
.leftbar{
    @apply flex flex-col px-[7px] md:px-[20px] gap-[7px] bg-white dark:bg-blue-500 w-[70px] sm:w-[200px] py-[10px] shadow-md h-full
}
.leftbar div{
    @apply flex w-[90%] p-[7px] md:p-[10px_7px] rounded-md cursor-pointer gap-[10px] hover:translate-x-[5px] transition ease-in-out duration-[500] items-center hover:bg-gray-200
}
.leftbar div>p{
    @apply dark:text-white text-blue-950 text-nowrap text-center text-[15px] font-[680]
}
.home{
    @apply flex flex-col  h-[100vh] overflow-hidden
}